html, body{
	margin: 0;
	padding: 0;
	background-color: gray;	
	line-height: 1.5;
	font-family: "Roboto Condensed";
}
.mollgan-container{
	display: flex;
	justify-content: center;
	flex-flow: nowrap;
	align-items: center;
	height: calc(100vh - 60px);
}
.mollgan-container > div {
	min-width: 0;
	width: 80%;
}
.mollgan-container > div > img{
	flex: 0 0 100%;
	max-width: 100%;
	height: auto;
}
.map-text{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	text-align: center;
}
.textbox{
	flex: 1 1 auto;
}
.textbox > *{
	max-width: 800px;
    width: 90%;
    min-width: 300px;
    margin: 18px auto;
}
.map-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
#map{
	height: 400px;
	width: 96%;
}
footer{
	width: 100%;
	position: fixed;
	height: 60px;
	line-height: 60px;
	background-color: #f8f8f8;
	left:0px;
	bottom:0px;
	display: flex;
	flex-flow: nowrap;
	justify-content: space-between;

}
footer > a{
	height: auto;
	display: flex;
}
footer > a > img{
	flex: 0 1 auto;
	width: 45px;
	/*background-color: black;*/
	padding: 0 40px;
}
/*footer > img:active{
	background-color: gray;
}*/
.currentLink {
   color: #640200;
   background-color: red;
}



