html, body{
	margin: 0;
	padding: 0;
	background-color: gray;	
	line-height: 1.5;
}
footer{
	width: 100%;
	position: fixed;
	height: 60px;
	line-height: 60px;
	background-color: #f8f8f8;
	left:0px;
	bottom:0px;
	display: flex;
	flex-flow: nowrap;
	
}
footer > img{
	flex: 0 1 auto;
	max-width: 50px;
}



